E2E_CHROME_EXECUTABLE=/usr/bin/google-chrome

E2E_CHROME_PROFILE_DIR=$$HOME/.config/google-chrome/profile2

E2E_SNAPI_BIN=/full/path/to/snapi
E2E_SNAPI_URL=http://localhost:3000

E2E_BROWSER_URL=http://localhost:3001

E2E_KEPLR_AUTO_APPROVE=1
E2E_KEPLR_DEBUG=0

E2E_KEPLR_PASSWORD=passsword
